/* Add Customer Form */
    .addCustomerForm {
      margin-left: 37rem;
      margin-right: 10rem;
      margin-bottom: 5rem;
    }

    input.ng-invalid.ng-touched {
      border: 2px solid red;
    }
