<!---
<button (click)="toggleCardView()">Card View</button>
<button (click)="toggleTableView()">Table View</button>
<button (click)="toggleAddCustomerForm()">Add Customer</button> --->


<button (click)="toggleCardView()">Card View</button>
<button (click)="toggleTableView()">Table View</button>
<button (click)="toggleAddCustomerForm()">Add Customer</button>



<app-user-adduser [hidden]="!addCustomerForm" (sendData)="homeData.createCustomer($event)"></app-user-adduser>
<app-user-card [hidden]="!cardView" [userList]="(homeData.customersItems | async)" [genderTest]="homeData.getIconCheck"></app-user-card>
<app-user-table [hidden]="!tableView" [userList]="(homeData.customersItems | async)" [genderTest]="homeData.getIconCheck"></app-user-table>

<h2>Filter Data</h2>
<button>Selected Filter</button>

