<h2 class= "landingHeader">Welcome to the Customer Order Demo</h2>

<p class ="landingDesc">Choose Your Path</p>
<div class ="choicePathCont">
    <div class="choiceRouteCard">
        <a [routerLink]="'/info'" class ="cardRoutes">Customer Information</a>
        <p>Want to know who's buying most of our products? This section will show you. 
            With demographic specifics like location and gender, you'll know how to increase your yearly revenue. </p>
    </div>

    <div class="choiceRouteCard">
        <a [routerLink]="'/orders'" class ="cardRoutes">Customer Orders</a>
        <p>Dive into the nitty gritty and know how much money you're really burning. 
            This section summarizes sales across each product category and allows access to specific orders from customers. </p>
    </div>

</div>