
<!--                               Card View Section                                   -->
<div class = "cardView section">
   <div class ="cardViewCont">
      <button (click)="sortedCol = 'location'">Sort by State</button>
      <button (click)="sortDirection()" [disabled]="!sortedCol">{{filterDirection}}</button>

      <div class="cardBox" *ngFor="let ite of userList | tableFilter : sortedCol : filterDirection "  >
         <div class="cardHeader">
            <p>{{ite.name}}</p>
            <button>Edit</button>
         </div>

         <div class="cardInfo">
          <div><img [src]="genderTest(ite.gender)" class="profileIcon"></div> 
         <div class ="infoText">
            <p>{{ite.city}},</p>
            <p>{{ite.location}}</p>
            <a a [routerLink]="['/orders', ite.firstName + '-' + ite.lastName]">View Orders</a>
         </div>
         </div> 
      </div>

   </div>
</div>

   <router-outlet></router-outlet>

