
/*                        itemsSales Section                          */
    .itemSalesCont {
        display: flex;
        justify-content: space-around;
    }

    .itemSalesCard {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3rem;
        width: 20%;
        background-color: #F4EDE3;
    }

/*                            customerTotalTable section                      */

    th {
      background-color: darken(#F4EDE3, 20%);
    }


    .customerTotalTable.section {
        width: 80%;
        align-items: center;
        text-align: center;
        margin-top: 5rem;
        margin-left: 10rem;  
    }

   table.customerTotalTable {
      border: 1px solid black;
      border-collapse: collapse;
      width: 60%;

      margin-top: 2rem;
      margin-left: 13rem;
      margin-right: 0rem;
    }


    td.customerTableBreak {
      border: 1px solid black;
      border-collapse: collapse;
      background-color: lighten(#F4EDE3, 4%);
    }

    
